@model InformacoesModel
@{
    ViewData["Title"] = "Saiba mais sobre mim 😉";
}
<h1>@ViewData["Title"]</h1>

<p>Meu nome é @Model.Nome, e meu E-mail é @Model.Email </p>
<span>Experiencias: @Model.Experiencia e @Model.Educacao</span>
